*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}

.slider{
    height: 100vh;
    margin-bottom: 40px;
}

.slider img{
    height: 90vh;
    width: 100%;
}

.logo{
    font-family: 'Dancing Script', cursive;
    font-size: 20pt;
    font-weight: 700;
    color: #fff;
}